<!--footer-->
<footer class="footer-main"></footer>
    <!--[if lt IE 9]>
    <script src="assets/libs/html5shiv/es5-shim.min.js"></script>
    <script src="assets/libs/html5shiv/html5shiv.min.js"></script>
    <script src="assets/libs/html5shiv/html5shiv-printshiv.min.js"></script>
    <script src="assets/libs/html5shiv/respond.min.js"></script>
    [endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="assets/libs/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="assets/libs/jquery-easy-scroll/jquery.easeScroll.js"></script>
    <!--<script src="assets/js/main.js"></script>-->
    <script src="assets/js/main.js"></script>
  </body>
</html>